body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#calculator input[type="text"] {
    width: 100px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
}

#calculator input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
}

#calculator button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#calculator button:hover {
    background-color: #0056b3;
}

#resultado {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

#proceso {
    margin-top: 20px;
    font-size: 16px;
    text-align: left;
}

#matrizNumerica {
    margin-top: 20px;
    font-size: 16px;
    text-align: left;
}
